@model SR.WebApp.Models.ModelEvaluation

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Filter">
            @Html.Hidden("IdCourse",Model.IdCourse)
            <div class="form-group">
                <label class="control-label">Stars</label>
                @Html.DropDownList("SelectedStar", Enumerable.Range(1, 5).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Course Name")
            </th>
            <th>
                @Html.DisplayName("Student Name")
            </th>
            <th>
                @Html.DisplayName("Active")
            </th>
            <th>
                @Html.DisplayName("Grade")
            </th>
            <th>
                @Html.DisplayName("Stars")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("CreationDate")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Evaluations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stars)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index" asp-controller="Courses">Back to Courses</a>
</div>